body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    overflow: hidden;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: linear-gradient(
      to left,
      #07525d,
      #021849,
      #011133,
      #02223f,
      #02354a
    );
    background-size: cover;
  }
  
  
  .js-count-particles {
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 3px;
    margin-left: 3px;
  }
  
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
  
  .bubble {
    position: absolute;
    background-color: #fff;
    opacity: 0.05;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  