body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.navbar-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 50px;
    gap: 30px; 
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: #040127;
    position: fixed; 
    top: 0;
    left: 0;
}

.hamburger {
    display: none; 
    font-size: 28px; 
    color: #FFFFFF; 
    cursor: pointer; 
    margin-left: auto; 
    padding-right:35px;
}

.pes-logo {
    width: 125px;
    height: 55px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    overflow: hidden;
    height: 100%; 
    transition: height 0.3s ease;
}

.nav-links {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 22.5px;
    line-height: 29px;
    gap:10px;
    display: flex;
    color: #FFFFFF;
    transition: padding 0.3s ease;
}

.nav-links:hover {
    color: #9983bd;
    transform: translateY(-2px);  
}

.nav-icon {
    font-size: 15px; 
    transition: transform 0.3s ease;
}

.nav-links:hover .nav-icon {
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .navbar-component {
        padding: 15px 5px;
    }

    .hamburger {
        display: block; 
    }

    .navbar-items {
        flex-direction: row; 
        width: 100%; 
        align-items: center; 
        justify-content:center;
        position: absolute; 
        top: 55px; 
        left:0;
        background-color: #040127; 
        display: none; 
        transition: all 0.3s ease;
        z-index: 1000; 
        gap:5px;
        font-size:15px;
    }

    .navbar-items.open {
        display: flex; 
     }

    .nav-links {
        font-size: 15px; 
        width: auto; 
        text-align: center; 
        gap:5px;
    }

    .content {
        margin-top: 50px; 
        transition: margin-top 0.3s ease; 
    }

    .navbar-items.open + .content {
        margin-top: 250px; 
    }
}
