body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.navbar-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 100px;
    gap: 20px; 
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: #040127;
    position: fixed; 
    top: 0;
    left: 0;
}

.hamburger {
    display: none; 
    font-size: 28px; 
    color: #FFFFFF; 
    cursor: pointer; 
    margin-left: auto; 
    padding-right:35px;
}

.pes-logo {
    width: 125px;
    height: 55px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 100%; 
}

.nav-links {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 22.5px;
    line-height: 29px;
    display: flex;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .navbar-component {
        padding: 20px;
    }

    .hamburger {
        display: block; 
    }

    .navbar-items {
        flex-direction: column; 
        width: 100%; 
        align-items: center; 
        position: absolute; 
        top: 75px; 
        left: 0; 
        background-color: #040127; 
        display: none; 
        transition: all 0.3s ease;
        z-index: 1000; 
    }

    .navbar-items.open {
        display: flex; 
        padding: 5px 0; 
    }

    .nav-links {
        font-size: 18px; 
        padding: 1px 0; 
        width: auto; 
        text-align: center; 
    }

    .content {
        margin-top: 350px; 
        transition: margin-top 0.3s ease; 
    }

    .navbar-items.open + .content {
        margin-top: 250px; 
    }
}
